.feature {
  margin-top: 250px;

  &-title{
    font-size: $fs-60;
    line-height: $lh-79;
    font-weight: $fw-700;
    font-family: $font-play;
    color: $brand-color;
    
  }
  &-box{
    background-color: rgba(14, 63, 51, 0.2);;
    width: 542px;
    height: 42px;
    
  }
  #feature-list{
    list-style: none;
    margin-top: 50px;
    display: block;
    li{
      padding: 10px;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #030033;
      input[type='checkbox']{
        margin-left: 100px;
        background-color: $brand-color;
      }

    }
  }

}