.gallery {
  margin-top: 250px;

&-title {
  font-size: $fs-60;
    line-height: $lh-79;
    font-weight: $fw-700;
    font-family: $font-play;
    color: $brand-color;
    margin-left: 730px;
    margin-right: 300px;
}
&-text-wrap {
  padding: 20px ;
}
&-text {
  width: 726px;
  height: 72px;
  font-family: $font-Manrope;
  font-style: normal;
  font-weight: $fw-400;
  font-size: $fs-20;
  line-height: 180%;
  text-align: center;
  margin-left: 470px;
  
}
}