.offer {
  margin-top: 250px;

  &-title {
    font-size: $fs-60;
    line-height: $lh-79;
    font-weight: $fw-700;
    font-family: $font-play;
    color: $brand-color;
    margin-left: 350px;
    margin-right: 300px;
  }
  &-img{
    position: relative;
    width: 500px;
    left: 100px;
    top: 100px;
    
  }
  &-vectors{
    
  }
}