.container {
  max-width: 1720px;
}

.start-35 {
  left: $size-35;
}

.text-primary {
  color: $brand-color;
}

.bg-primary {
  background-color: $brand-color !important;
}
.button-main {
  background: $brand-color;
  padding: 12px 44px;
  border-radius: unset;
  font-size: $fs-20;
  font-weight: $fw-400;
  line-height: $lh-27;
}
.button-main:hover,
.button-main:focus {
  background-color: $brand-color-lighter;
  outline: none;
  box-shadow: none;
}

// font-size class 
.fs-64 {
  font-size: $fs-64;
}