// font family
$font-Manrope: 'Manrope', sans-serif;
$font-play: 'Playfair Display', serif;


// colors
$brand-color: #0E204E;
$brand-color-lighter: #0e204ea0;

// font sizes 
$fs-20: 20px;
$fs-32: 32px;
$fs-64: 64px;
$fs-60: 60px;

// line height
$lh-85: 85.31px;
$lh-79: 79.98px;
$lh-42: 42.66px;
$lh-36: 36px;
$lh-32: 32px;
$lh-30: 30px;
$lh-27: 27.32px;
$lh-19: 19.14px;


// size
$size-25: 25%;
$size-35: 35%;
$size-50: 50%;
$size-75: 75%;
$size-100: 100%;

// font weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;